<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guitars</title>
</head>
<body>


<form th:action="@{/guitars/find}" th:method="GET">
    <label for="f">Find by id: </label>
    <input type="text" th:name="id" id="f"/>
    <input type="submit" value="Find"/>
</form>


<br/>
<br/>


<div th:each="guitar : ${guitars}">
    <a th:href="@{/guitars/{id}(id=${guitar.getId()})}"
       th:text="${guitar.getId() + ', ' + guitar.getManufacturer().getManufacturerName() + ', ' + guitar.getGuitarModel().getModelName() + ', '
       + guitar.getCountry().getCountryName + ', ' + guitar.getYearOfIssue()}">user</a>
</div>

<br/>

<div>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>


<br/>
<br/>
<br/>

<a href="/guitars/new">Create new guitar</a>
</body>
</html>