<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The guitar</title>
</head>
<body>

<br/>
<br/>
<br/>

<p th:text="${guitarDTO.getManufacturer()}">VALUE</p>
<p th:text="${guitarDTO.getModel()}">VALUE</p>
<p th:text="${guitarDTO.getCountry()}">VALUE</p>
<p th:text="${guitarDTO.getYearOfIssue()}">VALUE</p>
<img th:src="'data:image/jpeg;base64,' + ${guitarDTO.getImage()}" alt="" width="500" heigth="300"/>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/guitars/{id}(id=${guitarDTO.getGuitarId()})}">
    <input type="submit" value="Delete the guitar"/>
</form>

</body>
</html>